body{
    margin: 0;
    min-width: fit-content;
}

a {
    text-decoration: none;
}

/*Header*/

#header{
    display: grid;
    grid-template-columns: 110px max-content 1fr max-content max-content;
    height: 85px;
    background-color:#aca5a5;
}

#logoContainer{
    grid-column: 1;
    grid-row: 1;
    margin: 12px 0 12px 40px;
}

#logoContainer a {
    font-size: 0;
}

#homeIcon{
    height: 60px;
}

#logotext{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 2.4em;
    height: 85px;
}

#logotext a {
    color: #ffffff;
}


nav ul li a:hover, #logotext a:hover{
    color: #dbdbdb;
}


#homeIcon:hover, .languages #ukLang:hover, .languages #deLang:hover, .languages #dkLang:hover{
    filter: brightness(110%);
}

#header nav{
    grid-column: 4;
    grid-row: 1;
}

#header nav ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-gap: 0;
    height: 85px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 20px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul li a {
    color: #ffffff;
}

.languages{
    grid-column: 5;
    grid-row: 1;
    height: 85px;
    margin: 0 20px 0 50px;
}

.languages #ukLang, .languages #deLang, .languages #dkLang{
    height: 25px;
    margin: 30px 2px 30px 2px;
}

.languages a {
    font-size: 0;
}

#box1, #box2, #box3, #box4{
     width: 10px;
     height: 10px;
     background: forestgreen;
     grid-row: 1;
}


/* Dropdown Menu*/

    #omkringOs, #nyheder, #kontakt, #blivMedlem{
        margin: 0;
    }

    .omkringOsDropdown, .nyhederDropdown, .kontaktDropdown, .blivMedlemDropdown{
        float: left;
        overflow: hidden;
    }

    .omkringOsDropdown .omkringOsDropbtn, .nyhederDropdown .nyhederDropbtn, .kontaktDropdown .kontaktDropbtn, .blivMedlemDropdown .blivMedlemDropbtn{
        font-size: 1em;    
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .omkringOsDropdown:hover .omkringOsDropbtn, .nyhederDropdown:hover .nyhederDropbtn, .kontaktDropdown:hover .kontaktDropbtn, .blivMedlemDropdown:hover .blivMedlemDropbtn{
        background-color: #c5c1c1;
    }

    .omkringOsDropdownContent{
        display: none;
        position: absolute;
        background-color: #c5c1c1;
        min-width: 119px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .nyhederDropdownContent{
        display: none;
        position: absolute;
        background-color: #c5c1c1;
        min-width: 96px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .kontaktDropdownContent{
        display: none;
        position: absolute;
        background-color: #c5c1c1;
        min-width: 96px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .blivMedlemDropdownContent{
        display: none;
        position: absolute;
        background-color: #c5c1c1;
        min-width: 123px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .omkringOsDropdownContent a, .nyhederDropdownContent a, .kontaktDropdownContent a, .blivMedlemDropdownContent a{
        float: none;
        color: #ffffff;
        padding: 12px 20px;
        display: block;
        text-align: left;
    }

    .omkringOsDropdownContent a:hover, .nyhederDropdownContent a:hover, .kontaktDropdownContent a:hover, .blivMedlemDropdownContent a:hover{
        background-color: #dbdbdb;
        color: #000000;
    }

    .omkringOsDropdown:hover .omkringOsDropdownContent, .nyhederDropdown:hover .nyhederDropdownContent, .kontaktDropdown:hover .kontaktDropdownContent, .blivMedlemDropdown:hover .blivMedlemDropdownContent{
        display: block;
    }

/*Hamburger Menu*/
    /* Style the navigation menu */
    .topnav {
        display: none;
        position: relative;
        height: fit-content;
        grid-column: 5;
        grid-row: 1;
    }

    #myLinks{
        display: none;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    
    /* Style navigation menu links */
    .topnav a {
        color: #ffffff;
        padding: 14px 16px;
        font-size: 17px;
        display: block;
    }
    
    /* Style the hamburger menu */
    .topnav a.icon {
        font-size: 1.5em;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 15px;
    }

    /* Style navigation menu links */
    #myLinks a {
        background-color: #c5c1c1;
        color: #ffffff;
        padding: 14px 16px;
        font-size: 17px;
        display: block;
    }
    
    /* Add a grey background color on mouse-over */
    #myLinks a:hover {
        background-color: #dbdbdb;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #4CAF50;
        color: white;
    }

    #myLinks a #ukLangMenu, #myLinks a #deLangMenu, #myLinks a #dkLangMenu{
        color: #ffffff;
        padding: 14px 16px;
        font-size: 17px;
        display: flex;
        height: 25px;
    }

    #langMenu{
        display: none;
    }

    #ukLangMenu{
        grid-column: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #deLangMenu{
        grid-column: 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #dkLangMenu{
        grid-column: 3;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


@media screen and (max-width: 1125px) {
    #header nav{
        display: none;
    }

    #header{
        grid-template-columns: 110px max-content 1fr max-content 100px;
    }

    .languages{
        grid-column: 4;
        float: right;
    }

    .topnav{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .languages{
        display: none;
    }

    #langMenu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #logotext{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0;
        font-size: 1.8em;
        height: 85px;
    }
}