.bestyrelsen-container h1{
    text-align: center;
}

.bestyrelsen-container h1{
    color: #d51720;
    font-size: 2em;
    font-weight: 500;
}

.bestyrelsen-container p{
    color: #9989a8;
    font-size: 1.2em;
    font-weight: 500;
}

.bestyrelsen-container p a {
    color: #9989a8;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr min-content min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
}

#occupation-box1, #infomation-box1, #occupation-box2, #infomation-box2, #occupation-box3, #infomation-box3, #occupation-box4, #infomation-box4, #occupation-box5, #infomation-box5, #occupation-box6, #infomation-box6, #occupation-box7, #infomation-box7, #occupation-box8, #infomation-box8, #occupation-box9, #infomation-box9, #occupation-box10, #infomation-box10{
    border-top: 2px solid #b8b8b8;
}

#occupation-box1, #occupation-box2, #occupation-box3, #occupation-box4, #occupation-box5, #occupation-box6, #occupation-box7, #occupation-box8, #occupation-box9, #occupation-box10{
    white-space: nowrap;
}

#occupation-box1 p, #occupation-box2 p, #occupation-box3 p , #occupation-box4 p, #occupation-box5 p, #occupation-box6 p, #occupation-box7 p, #occupation-box8 p, #occupation-box9 p, #occupation-box10 p{
    margin: 20px 20px;
}

#infomation-box1 p, #infomation-box2 p, #infomation-box3 p, #infomation-box4 p, #infomation-box5 p, #infomation-box6 p, #infomation-box7 p, #infomation-box8 p, #infomation-box9 p, #infomation-box10 p{
    margin: 20px 20px;
}

#infomation-box1, #infomation-box2, #infomation-box3, #infomation-box4, #infomation-box5, #infomation-box6, #infomation-box7, #infomation-box8, #infomation-box9, #infomation-box10{
    white-space: nowrap;
}

#infomation-box1 a:hover, #infomation-box2 a:hover, #infomation-box3 a:hover, #infomation-box4 a:hover, #infomation-box4 a:hover, #infomation-box5 a:hover, #infomation-box6 a:hover, #infomation-box7 a:hover, #infomation-box8 a:hover, #infomation-box9 a:hover, #infomation-box10 a:hover{
    color: #dbdbdb;
}

#infomation-box1{
    grid-column: 3;
    grid-row: 1;
}

#occupation-box1{
    grid-column: 2;
    grid-row: 1;
}

#infomation-box2{
    grid-column: 3;
    grid-row: 2;
}

#occupation-box2{
    grid-column: 2;
    grid-row: 2;
}

#infomation-box3{
    grid-column: 3;
    grid-row: 3;
}

#occupation-box3{
    grid-column: 2;
    grid-row: 3;
}

#infomation-box4{
    grid-column: 3;
    grid-row: 4;
}

#occupation-box4{
    grid-column: 2;
    grid-row: 4;
}

#infomation-box5{
    grid-column: 3;
    grid-row: 5;
}

#occupation-box5{
    grid-column: 2;
    grid-row: 5;
}

#infomation-box6{
    grid-column: 3;
    grid-row: 6;
}

#occupation-box6{
    grid-column: 2;
    grid-row: 6;
}

#infomation-box7{
    grid-column: 3;
    grid-row: 7;
}

#occupation-box7{
    grid-column: 2;
    grid-row: 7;
}

#infomation-box8{
    grid-column: 3;
    grid-row: 8;
}

#occupation-box8{
    grid-column: 2;
    grid-row: 8;
}

#infomation-box9{
    grid-column: 3;
    grid-row: 9;
}

#occupation-box9{
    grid-column: 2;
    grid-row: 9;
}

#infomation-box10{
    grid-column: 3;
    grid-row: 10;
    margin: 0 0 50px 0;
}

#occupation-box10{
    grid-column: 2;
    grid-row: 10;
}

@media screen and (max-width: 575px){
    .info-container{
        display: grid;
        grid-template-columns: 1fr min-content  1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    }

    #infomation-box1 p:first-child, #infomation-box2 p:first-child, #infomation-box3 p:first-child, #infomation-box4 p:first-child, #infomation-box5 p:first-child, #infomation-box6 p:first-child, #infomation-box7 p:first-child, #infomation-box8 p:first-child, #infomation-box9 p:first-child, #infomation-box10 p:first-child{
        margin: 0px 20px 20px 20px;
    }

    #infomation-box1, #infomation-box2, #infomation-box3, #infomation-box4, #infomation-box5, #infomation-box6, #infomation-box7, #infomation-box8, #infomation-box9, #infomation-box10{
        border-top: none;
    }

    #occupation-box1 p, #occupation-box2 p, #occupation-box3 p , #occupation-box4 p, #occupation-box5 p, #occupation-box6 p, #occupation-box7 p, #occupation-box8 p, #occupation-box9 p, #occupation-box10 p{
        font-size: 1.5em;
        color: #d51720;
    }

    #occupation-box1{
        grid-column: 2;
        grid-row: 1;
    }

    #infomation-box1{
        grid-column: 2;
        grid-row: 2;
    }

    #occupation-box2{
        grid-column: 2;
        grid-row: 3;
    }

    #infomation-box2{
        grid-column: 2;
        grid-row: 4;
    }
    
    #occupation-box3{
        grid-column: 2;
        grid-row: 5;
    }

    #infomation-box3{
        grid-column: 2;
        grid-row: 6;
    }
    
    #occupation-box4{
        grid-column: 2;
        grid-row: 7;
    }

    #infomation-box4{
        grid-column: 2;
        grid-row: 8;
    }
    
    #occupation-box5{
        grid-column: 2;
        grid-row: 9;
    }

    #infomation-box5{
        grid-column: 2;
        grid-row: 10;
    }
    
    #occupation-box6{
        grid-column: 2;
        grid-row: 11;
    }

    #infomation-box6{
        grid-column: 2;
        grid-row: 12;
    }
    
    #occupation-box7{
        grid-column: 2;
        grid-row: 13;
    }

    #infomation-box7{
        grid-column: 2;
        grid-row: 14;
    }
    
    #occupation-box8{
        grid-column: 2;
        grid-row: 15;
    }

    #infomation-box8{
        grid-column: 2;
        grid-row: 16;
    }
    
    #occupation-box9{
        grid-column: 2;
        grid-row: 17;
    }

    #infomation-box9{
        grid-column: 2;
        grid-row: 18;
    }
    
    #occupation-box10{
        grid-column: 2;
        grid-row: 19;
    }

    #infomation-box10{
        grid-column: 2;
        grid-row: 20;
    }
}