.historie-container h1{
    color: #d51720;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin: 50px 0 30px 0;
    padding: 0 50px;
}

.historie-container h2{
    color: #9989a8;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 50px 0;
    padding: 0 200px;
}

.historie-container img{
    width: 100%;
}

.historie-container{
    text-align: center;
}

#image-container{
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 1100px){
    .historie-container h2{
        padding: 0 100px;
    }
}

@media screen and (max-width: 700px){
    .historie-container h2{
        padding: 0 50px;
    }
}

@media screen and (max-width: 450px){
    .historie-container h1{
        padding: 0 10px;
    }
}

@media screen and (max-width: 400px){
    .historie-container h2{
        padding: 0 10px;
    }
}