.site-content{
    min-height: 600px;
}

.sponsorer h1{
    color: #d51720;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin: 50px 0 30px 0;
    padding: 0 50px;
}

.sponsorer p{
    color: #9989a8;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 0 0 50px 0;
    padding: 0 50px;
}

.sponsorer a{
    color: #9989a8;
}

.sponsorer a:hover{
    color: #dbdbdb;
}

#sponsorsLogos{
    display: grid; 
    /* grid-template-columns: 252px 252px 252px 252px; */
    grid-template-columns: repeat(4, min-content);
    /* grid-template-rows: min-content 156px; */
    grid-template-rows: repeat(3, min-content);
    min-height: 550px;
}

/*
#sponsorsLogos img{
    border: 2px solid #b8b8b8;

    margin: 0;
    padding: 0;

    height: 97%;
}*/

#sponsor1, #sponsor2, #sponsor3, #sponsor4, #sponsor5, #sponsor6, #sponsor7, #sponsor8, #sponsor9 , #sponsor10, #sponsor11 , #sponsor12{
    height: 150px;
    width: 250px;
    overflow: hidden;
    border: 2px solid #b8b8b8;
}

#sponsor1 img, #sponsor2 img, #sponsor3 img, #sponsor4 img, #sponsor5 img, #sponsor6 img, #sponsor7 img, #sponsor8 img, #sponsor9 img, #sponsor10 img, #sponsor11 img, #sponsor12 img{
    max-height: 95%;
    max-width: 95%;
}

#sponsor1 img{
    margin: 59px 0;
}

#sponsor2 img{
    margin: 4px 0;
}

#sponsor3 img{
    margin: 16px 0;
}

#sponsor4 img{
    margin: 49px 0;
}

#sponsor5 img{
    margin: 4px 0;
}

#sponsor6 img{
    margin: 4px 0;
}

#sponsor7 img{
    margin: 59px 0;
}

#sponsor8 img{
    margin: 7px 0;
}

#sponsor9 img{
    margin: 4px 0;
}

#sponsor10 img{
    margin: 46px 0;
}

#sponsor11 img{
    margin: 44px 0;
}

#sponsor12 img{
    margin: 44px 0;
}

#sponsorsLogos-box{
    display: block;
    overflow: auto;
    max-width: 1050px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1050px){
    
    #sponsorsLogos{
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(4, min-content);
        min-height: 700px;
    }

    #sponsorsLogos-box{
        max-width: 770px;
    }
}

@media screen and (max-width: 790px){
    #sponsorsLogos{
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(6, min-content);
        min-height: 1000px;
    }

    #sponsorsLogos-box{
        max-width: 520px;
    }
}

@media screen and (max-width: 520px){
    #sponsorsLogos{
        grid-template-columns: repeat(1, min-content);
        grid-template-rows: repeat(12, min-content);
        min-height: 1950px;
    }

    #sponsorsLogos-box{
        max-width: 270px;
    }
}